.resim1,.resim2{
  width:30%;
 
}
.cizgi{
  width:20%;
  margin-left:40%;
  margin-bottom: 2%;
  margin-top: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 12px solid #7C807B;
 
}
.cizgi1{
  width:44%;
  margin-left:29%;
  margin-top: 10px;
  margin-bottom: 2%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 5px solid #7C807B;
 
}

h2{
  text-align: center;
  margin-top: 90px;
  font-family: 'Times New Roman', Times, serif;
}
nav{
  border-bottom: 2px solid #7C807B;
}
.daire1{
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background-color: #BCABE3;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 5%;
  margin-left: 17%; 
  padding-top:8%;
  padding-bottom: 8%;
  font-weight: 700;
  float: left;
}
.daire2{
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background-color: #5CABC9;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 5%;
  margin-left: -15px;
  padding-top:8%;
  padding-bottom: 8%;
  font-weight: 700;
  float: left;
  color:white;
}
.daire3{
  width: 20%;
  height: 20%;
  margin-bottom: 5%;
  border-radius: 50%;
  background-color: #C2C859;
  text-align: center;
  margin-top: 30px;
  margin-left: -15px; 
  padding-top:8%;
  padding-bottom: 8%;
  font-weight: 700;
  float: left;
  color:white;
}
.daire4{
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background-color:coral;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 5%;
  margin-left: -15px;
  padding-top:8%;
  padding-bottom: 8%;
  font-weight: 700;
  float: left;
  color:white;
}
.d-block w-100{
  padding-left: 10%;
}
.daireler{
  width: 80%;
  margin-left: 8%;
  clear: both;
}
body{
  background-color: #F0F2D7;
}

.ikinciBaslik{
 font-family: 'Times New Roman', Times, serif;
 font-size: xx-large;
 margin-left:2% ;
 text-align: center;
 clear: both;
}
.resim1,.resim2{
 
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;  
  float:left;
  
  
}

.aciklama1,.aciklama2{
  padding-top: 5%;
  padding-top: 10%;
  font-size: 1.3em;
  text-align: center;
  margin:1% 2% 6% auto; 
  
}

label{
  clear: both;
  font-family: 'Times New Roman', Times, serif;
  font-size:x-large;
  margin-top: 2%;
  margin-left: 10px;

}
footer{
  clear: both;
  background-color:#465051;
  text-align: center;
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 10%;
}