body{
  background-color: #F0F2D7;
}
h2{
  text-align: center;
  margin-top: 100px;
  font-family: 'Times New Roman', Times, serif;
  color:black ;
}
.cizgi{
  width:20%;
  margin-left: 40%;
  margin-bottom: 2%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 10px solid #7C807B;
 }

.ilkokul{
  width: 100%;
  height: 90%;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  float: left;
  background-color: #F0F2D7;
  text-align: center;
  padding-top: 3%;
 padding-bottom: 2%;
}
.lise{
  width:100%;
  height: 90%;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: larger;
  float: left;
 background-color: #CDD4BC;
 text-align: center;
 padding-top: 3%;
 padding-bottom: 2%;
  
}
.universite{
  width: 100%;
  height: 90%;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: larger;
  float: left;
  background-color: #F0F2D7;
  padding-top: 3%;
  padding-bottom: 2%;


}
.sau{
  width: 50%;
  float: left;
  
}
.meio{
  width:50%;
  float: left;
 

}
.madfl{
  width:50%;
  float: right;
 
}
article{
 padding-top: -1%;
  padding-left: 5%;
  
}
footer{
  clear: both;
  background-color:#465051;
  text-align: center;
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
}
footer{
  clear: both;
  background-color:#465051;
  text-align: center;
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 10%;
}